body {
	margin: 0; 
	padding: 0; 
}

main {
	display: grid; 
	margin: auto; 
	grid-template-rows: repeat(17, 20vh);
	grid-template-columns: repeat(12, 1fr);
	grid-row-gap: 1em; 
}

.img1 {
	grid-row: 1/span 4; 
	grid-column: 1/span 12; 
}

.img1 img {
	width: 100%; 
}

.nav {
	grid-row: 1; 
	grid-column: 2/span 10; 
	z-index: 5; 	
}
	
ul li {
	list-style-type: none; 
	display: inline-block; 
	font-size: 1.2em; 
	font-family: sans-serif; 
	width: 12vw; 
	text-align: center; 
	margin: 5vh 3.5vw 0 3.5vw; 
	transition: color 0.5s; 
}

li a {
	text-decoration: none; 
	color: #D7AE8E; /***#E3C4B0***/
	display: block; 
}

ul li:hover a{
	color: #C89265; 
}
ul li:active a {
	color: #A66B3A;
}

.line {
	grid-row: 1; 
	grid-column: 1/span 12; 
	width: 83.5vw; 
	margin-top: 15vh; 
	margin-left: 8.3vw; 
	border-top: #E3C4B0 0.1rem solid; 
	z-index: 2; 
}

.gradi {
	grid-row: 1/span 7; 
	grid-column: 1/span 12; 
	background: #694221; 
	opacity: 0.3; 
	z-index: 1; 
}

.col1 {
	background-color: white; /***#EBEBEB***/
	grid-row: 6/span 9; 
	grid-column: 1/span 12; 
	z-index: 3; 
}
/***
h1 {
	grid-row: 2/span 2; 
	grid-column: 1/span 13; 
	text-align: center; 
	align-self: center; 
	font-family: sans-serif; 
	font-size: 5em; 
	color: white; 
	margin-top: 20vh; 
}***/

h1 {
	grid-row: 2/span 2; 
	grid-column: 2/span 3; 
	text-align: left; 
	align-self: baseline; 
	font-family: sans-serif; 
	font-size: 5.8em; 
	line-height: 1.3em; 
	color: white;
	z-index: 2; 
}

.p1 {
	grid-row: 2/span 3; 
	grid-column: 7/span 5; 
	font-size: 1.2em; 
	line-height: 1.54em; 
	color: #FFF0AD; /***#FFE099***/
	z-index: 4; 
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300; 
	align-self: flex-end; 
}

.img2 {
	grid-row: 7/span 3; 
	grid-column: 3/span 8; 
	margin-top: -5vh; 
	z-index: 4;
}
.img2 img {
	width: 66.8vw; 
	z-index: 4;
}

.p3 {
	grid-row: 7/span 2; 
	grid-column: 2/span 2; 
	width: 16.6vw; 
	align-self: center; 
	font-size: 1.5em; 
	line-height: 1.5em; 
	color: #FF825C; 
	font-family: 'Barlow', sans-serif;
	font-weight: 600; 
	animation: float 4s ease-in-out infinite; 
	z-index: 4;
}
.p4 {
	grid-row: 8/span 2; 
	grid-column: 9/span 3; 
	align-self: center; 
	font-size: 1.5em; 
	line-height: 1.5em; 
	color: #FF825C; 
	z-index: 2; 
	font-family: 'Barlow', sans-serif;
	font-weight: 600; 
	animation: float 4s ease-in-out infinite; 
	animation-delay: 2.5s; 
	z-index: 4;
}

@keyframes float {
	0% {transform: translatey(-2vh);}
	50% {transform: translatey(2vh);}
	100% {transform: translatey(-2vh);}
}

.p5 {
	grid-row: 10/span 1; 
	grid-column: 4/span 6; 
	font-size: 1em; 
	line-height: 1.45em; 
	color: #9D6F43; 
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400; 
	margin-top: 10vh; 
	align-self: ; 
	z-index: 4;
}

.line2 {
	grid-row: 11; 
	grid-column: 2/span 10; 
	width: 83.5vw; 
	margin-top: 16vh; 
	border-top: #E3C4B0 0.1rem solid; 
	z-index: 4;
}

.h2 {
	grid-row: 12; 
	grid-column: 3/span 3; 
	font-size: 3.5em; 
	color: #FF825C; 
	font-family: sans-serif; 
	font-weight: 500; 
	margin-top: 5vh; 
	text-align: right; 
	z-index: 4;
}

.p6 {
	grid-row: 12; 
	grid-column: 7/span 5; 
	font-size: 1em; 
	line-height: 1.6em; 
	color: #BE8D55; 
	font-family: 'Source Sans Pro', sans-serif; 
	font-weight: 300;
	margin-top: 5vh; 
	z-index: 4;
}

.img3 {
	grid-row: 12/span 3;
	grid-column: 3/span 2; 
	margin-top: 20vh; 
	z-index: 4;
}
.img3 img {
	width: 25vw; 
	margin-left: ; 
}

/*****Process*****/

.img2-1 {
	grid-row: 2/span 4; 
	grid-column: 2/span 8; 
}

.img2-1 img {
	width: 40vw;
}

h2 {
	grid-row: 2/span 2; 
	grid-column: 7/span 3; 
	text-align: left; 
	align-self: center; 
	font-family: sans-serif; 
	font-size: 3.5em; 
	line-height: 1.3em; 
	color: #FF825C; 
}

.p2-1 {
	grid-row: 3; 
	grid-column: 7/span 5; 
	text-align: left; 
	font-family: 'Barlow', sans-serif; 
	font-size: 1em; 
	font-weight: 200; 
	line-height: 1.5em; 
	align-self: flex-end;
	color: #9D6F43; 
}

.h3 {
	grid-row: 4/span 1; 
	grid-column: 2/span 3; 
	text-align: left; 
	font-family: sans-serif; 
	font-size: 1.5em; 
	line-height: 1.3em; 
	color: #9D6F43; 
	align-self: flex-end; 
	font-weight: 600; 
}

.imgp1 {
	grid-row: 5/span 2; 
	grid-column: 2/span 2; 
	align-self: flex-end; 
}
.imgp1 img {
	width: 16vw; 
	margin-bottom: 10vh; 
}
.t1 {
	grid-row: 6/span 1; 
	grid-column: 2/span 2; 
	width: 16vw; 
	margin-top: 13vh; 
	text-align: center; 
	font-family: 'Barlow', sans-serif; 
	font-size: 1em; 
	font-weight: 600; 
	color: #9D6F43; 
}
.imgp2 {
	grid-row: 5/span 2; 
	grid-column: 4/span 2; 
	align-self: flex-end; 
}
.imgp2 img {
	width: 16vw; 
	margin-bottom: 10vh; 
}
.t2 {
	grid-row: 6/span 2; 
	grid-column: 4/span 2;
	width: 16vw; 
	margin-top: 13vh; 
	text-align: center; 
	font-family: 'Barlow', sans-serif; 
	font-size: 1em; 
	font-weight: 600; 
	color: #9D6F43; 
}
.imgp3 {
	grid-row: 5/span 2; 
	grid-column: 6/span 2;
	align-self: flex-end; 
}
.imgp3 img {
	width: 16vw; 
	margin-bottom: 10vh; 
}
.t3 {
	grid-row: 6/span 2; 
	grid-column: 6/span 2;
	width: 16.6vw; 
	margin-top: 13vh; 
	text-align: center; 
	font-family: 'Barlow', sans-serif; 
	font-size: 1em; 
	font-weight: 600; 
	color: #9D6F43; 
}
.imgp4 {
	grid-row: 5/span 2; 
	grid-column: 10/span 2; 
	align-self: flex-end; 
}
.imgp4 img {
	width: 16vw; 
	margin-bottom: 10vh;
}
.t4 {
	grid-row: 6/span 2; 
	grid-column: 10/span 2; 
	width: 16vw; 
	margin-top: 13vh; 
	text-align: center; 
	font-family: 'Barlow', sans-serif; 
	font-size: 1em; 
	font-weight: 600; 
	color: #9D6F43; 
}
.imgp5 {
	grid-row: 5/span 2; 
	grid-column: 8/span 2; 
	align-self: flex-end; 
}
.imgp5 img {
	width: 16vw; 
	margin-bottom: 10vh;
}
.t5 {
	grid-row: 6/span 2; 
	grid-column: 8/span 2; 
	width: 16vw; 
	margin-top: 13vh; 
	text-align: center; 
	font-family: 'Barlow', sans-serif; 
	font-size: 1em; 
	font-weight: 600; 
	color: #9D6F43; 
}

.trans {
	grid-row: 5/span 2; 
	grid-column: 1/span 12; 
	background-color: #FFF0AD; 
	height: 55vh; 
	margin-top: -13vh; 
	z-index: -2; 
}

h3 {
	grid-row: 7/span 1; 
	grid-column: 2/span 3; 
	text-align: left; 
	font-family: sans-serif; 
	font-size: 1.5em; 
	line-height: 1.3em; 
	color: #9D6F43; 
	margin-top: 10vh; 
}

.pr1 {
	grid-row: 8/span 2; 
	grid-column: 2/span 3; 
	text-align: left; 
	font-family: 'Source Sans Pro', sans-serif; 
	font-size: 2em; 
	font-weight: 600; 
	line-height: 1.5em; 
	color: #FF825C; 
	margin-top: 10vh;
}

.pn1 {
	grid-row: 9/span 2; 
	grid-column: 2/span 4; 
	text-align: left; 
	font-family: 'Source Sans Pro', sans-serif; 
	font-size: 1em; 
	font-weight: 400; 
	line-height: 1.5em; 
	color: #FF825C; 
	margin-top: 5vh;
}
.pi1 {
	grid-row: 9/span 2; 
	grid-column: 4/span 2; 
	margin-top: 5vh; 
}
.pi1 img {
	width: 20vw; 
}


.pr2 {
	grid-row: 9/span 2; 
	grid-column: 8/span 4; 
	text-align: left; 
	font-family: 'Source Sans Pro', sans-serif; 
	font-size: 2em; 
	font-weight: 600; 
	line-height: 1.5em; 
	margin-top: 10vh; 
	color: #FF825C; 
}

.pn2 {
	grid-row: 10/span 2; 
	grid-column: 8/span 4; 
	text-align: left; 
	font-family: 'Source Sans Pro', sans-serif; 
	font-size: 1em; 
	font-weight: 400; 
	line-height: 1.5em; 
	margin-top: 5vh; 
	color: #FF825C; 
}
.pi2 {
	grid-row: 8/span 2; 
	grid-column: 10/span 2; 
	margin-left: -2vw; 
	margin-top: 3vh; 
}
.pi2 img {
	width: 20vw; 
}

.pr3 {
	grid-row: 11/span 2; 
	grid-column: 2/span 4; 
	text-align: left; 
	font-family: 'Source Sans Pro', sans-serif; 
	font-size: 2em; 
	font-weight: 600; 
	line-height: 1.5em; 
	color: #FF825C; 
	margin-top: -5vh; 
}

.pn3 {
	grid-row: 11/span 2; 
	grid-column: 2/span 4; 
	text-align: left; 
	font-family: 'Source Sans Pro', sans-serif; 
	font-size: 1em; 
	font-weight: 400; 
	line-height: 1.5em; 
	color: #FF825C; 
	margin-top: 12vh; 
}
.pi3 {
	grid-row: 12/span 2; 
	grid-column: 4/span 2; 
	margin-top: -5vh; 
}
.pi3 img {
	width: 20vw; 
}

.pr4 {
	grid-row: 12/span 2; 
	grid-column: 8/span 4; 
	text-align: left; 
	font-family: 'Source Sans Pro', sans-serif; 
	font-size: 2em; 
	font-weight: 600; 
	line-height: 1.5em; 
	color: #FF825C; 
}

.pn4 {
	grid-row: 12/span 2; 
	grid-column: 8/span 4; 
	text-align: left; 
	font-family: 'Source Sans Pro', sans-serif; 
	font-size: 1em; 
	font-weight: 400; 
	line-height: 1.5em; 
	color: #FF825C; 
	margin-top: 17vh; 
}
.pi4 {
	grid-row: 11/span 2; 
	grid-column: 10/span 2; 
	margin-left: -2vw; 
}
.pi4 img {
	width: 20vw; 
}

.pr5 {
	grid-row: 13/span 2; 
	grid-column: 2/span 4; 
	text-align: left; 
	font-family: 'Source Sans Pro', sans-serif; 
	font-size: 2em; 
	font-weight: 600; 
	line-height: 1.5em; 
	color: #FF825C; 
	margin-top: 2vh; 
}

.pn5 {
	grid-row: 13/span 2; 
	grid-column: 2/span 4; 
	text-align: left; 
	font-family: 'Source Sans Pro', sans-serif; 
	font-size: 1em; 
	font-weight: 400; 
	line-height: 1.5em; 
	color: #FF825C; 
	margin-top: 20vh; 
}
.pi5 {
	grid-row: 14/span 2; 
	grid-column: 4/span 2; 
	margin-top: -3vh; 
}
.pi5 img {
	width: 20vw; 
}

.pr6 {
	grid-row: 14/span 2; 
	grid-column: 8/span 4; 
	text-align: left; 
	font-family: 'Source Sans Pro', sans-serif; 
	font-size: 2em; 
	font-weight: 600; 
	line-height: 1.5em; 
	color: #FF825C; 
	margin-top: 10vh;
}

.pn6 {
	grid-row: 15/span 2; 
	grid-column: 8/span 4; 
	text-align: left; 
	font-family: 'Source Sans Pro', sans-serif; 
	font-size: 1em; 
	font-weight: 400; 
	line-height: 1.5em; 
	color: #FF825C; 
	margin-top: 13vh; 
}
.pi6 {
	grid-row: 13/span 2; 
	grid-column: 10/span 2; 
	margin-left: -2vw; 
	margin-top: 8vh; 
}
.pi6 img {
	width: 20vw; 
}



/*****Types*****/

.img3-1 {
	grid-row: 2/span 2;
	grid-column: 2/span 3; 
	display: block; 
}
.overlay {
	position: absolute; 
	height: 33vh; 
	width: 25vw; 
	opacity: 0; 
	transition: .5s ease; 
	background-color: darkgrey; 
}
.img3-1:hover .overlay {
	opacity: 0.7; 
}
.img3-1:hover .n1 {
	opacity: 1; 
}
.n1 {
	color: white; 
	font-family: sans-serif; 
	font-size: 1.2em; 
	text-align: center; 
	opacity: 0; 
	margin-top: 15vh; 
	transition: .5s ease;  
}

.img3-2 {
	grid-row: 2/span 2;
	grid-column: 5/span 4; 
	margin-left: 4.3vw; 
}
.img3-2:hover .overlay {
	opacity: 0.7; 
}
.img3-2:hover .n2 {
	opacity: 1; 
}
.n2 {
	color: white; 
	font-family: sans-serif; 
	font-size: 1.2em; 
	text-align: center; 
	opacity: 0; 
	margin-top: 15vh; 
	transition: .5s ease;  
}

.img3-3 {
	grid-row: 2/span 2;
	grid-column: 9/span 3; 
}
.img3-3:hover .overlay {
	opacity: 0.7; 
}
.img3-3:hover .n3 {
	opacity: 1; 
}
.n3 {
	color: white; 
	font-family: sans-serif; 
	font-size: 1.2em; 
	text-align: center; 
	opacity: 0; 
	margin-top: 15vh; 
	transition: .5s ease;  
}

.img3-4 {
	grid-row: 4/span 2;
	grid-column: 2/span 3; 
}
.img3-4:hover .overlay {
	opacity: 0.7; 
}
.img3-4:hover .n4 {
	opacity: 1; 
}
.n4 {
	color: white; 
	font-family: sans-serif; 
	font-size: 1.2em; 
	text-align: center; 
	opacity: 0; 
	margin-top: 15vh; 
	transition: .5s ease;  
}

.img3-5 {
	grid-row: 4/span 2;
	grid-column: 5/span 4; 
	margin-left: 4.3vw; 
}
.img3-5:hover .overlay {
	opacity: 0.7; 
}
.img3-5:hover .n5 {
	opacity: 1; 
}
.n5 {
	color: white; 
	font-family: sans-serif; 
	font-size: 1.2em; 
	text-align: center; 
	opacity: 0; 
	margin-top: 15vh; 
	transition: .5s ease;  
}

 .img3-6 {
	grid-row: 4/span 2;
	grid-column: 9/span 3; 
}
.img3-6:hover .overlay {
	opacity: 0.7; 
}
.img3-6:hover .n6 {
	opacity: 1; 
}
.n6 {
	color: white; 
	font-family: sans-serif; 
	font-size: 1.2em; 
	text-align: center; 
	opacity: 0; 
	margin-top: 15vh; 
	transition: .5s ease;  
}

.dots {
	grid-row: 6/span 2; 
	grid-column: 6/span 2; 
	margin-top: ; 
	height: 10vh; 
	margin-left: 6vw; 
}

.dot1 {
  height: 0.6em;
  width: 0.6em;
  background-color: #FF825C;
  border-radius: 50%;
  display: inline-block;
}
.dot2 {
  height: 0.6em;
  width: 0.6em;
  background-color: #FF825C;
  border-radius: 50%;
  display: inline-block;
	margin-left: 1vw; 
}
.dot3 {
  height: 0.6em;
  width: 0.6em;
  background-color: #FF825C;
  border-radius: 50%;
  display: inline-block;
	margin-left: 1vw;
}

.dots:hover a {
	
}


/*****Exhibition*****/

img {
	width: 24.9vw; 
}

.e1 {
	grid-row: 2/span 3;
	grid-column: 2/span 3; 
}
.et1 {
	grid-row: 3/span 3;
	grid-column: 2/span 3; 
	color: white; 
	font-family: sans-serif; 
	font-weight: 300; 
	font-size: 1em; 
	text-align: center; 
	margin-top: 13vh; 
}

.e2 {
	grid-row: 3/span 3;
	grid-column: 7/span 3; 
}
.et2 {
	grid-row: 4/span 3;
	grid-column: 7/span 3; 
	color: white; 
	font-family: sans-serif; 
	font-weight: 300; 
	font-size: 1em; 
	text-align: center; 
	margin-top: 12vh; 
}

.e3 {
	grid-row: 5/span 3;
	grid-column: 4/span 3; 
}
.et3 {
	grid-row: 6/span 3;
	grid-column: 4/span 3; 
	color: white; 
	font-family: sans-serif; 
	font-weight: 300; 
	font-size: 1em; 
	text-align: center; 
	margin-top: 12vh; 
}

.e4 {
	grid-row: 6/span 3;
	grid-column: 9/span 3; 
}
.et4 {
	grid-row: 7/span 3;
	grid-column: 9/span 3; 
	color: white; 
	font-family: sans-serif; 
	font-weight: 300; 
	font-size: 1em; 
	text-align: center; 
	margin-top: 22vh; 
}

.e5 {
	grid-row: 8/span 3;
	grid-column: 3/span 3; 
}
.et5 {
	grid-row: 9/span 3;
	grid-column: 3/span 3; 
	color: white; 
	font-family: sans-serif; 
	font-weight: 300; 
	font-size: 1em; 
	text-align: center; 
	margin-top: 12vh; 
}

.e6 {
	grid-row: 9/span 3;
	grid-column: 8/span 3; 
}
.et6 {
	grid-row: 10/span 3;
	grid-column: 8/span 3; 
	color: white; 
	font-family: sans-serif; 
	font-weight: 300; 
	font-size: 1em; 
	text-align: center; 
	margin-top: 12vh; 
}

.e7 {
	grid-row: 11/span 3;
	grid-column: 4/span 3; 
}
.et7 {
	grid-row: 12/span 3;
	grid-column: 4/span 3; 
	color: white; 
	font-family: sans-serif; 
	font-weight: 300; 
	font-size: 1em; 
	text-align: center; 
	margin-top: 9vh; 
}

/*************mobile*************/

@media (max-width: 599px) {
	
	main {
	display: grid; 
	margin: auto; 
	grid-template-rows: repeat(18, 20vh);
	grid-template-columns: 20px  1fr 1fr 20px;
	grid-row-gap: 1em; 
	}
	
	.nav {
		grid-row: 1; 
		grid-column: 2/span 2; 
		z-index: 5; 	
	}
	
	ul {
		width: 100%; 
		margin-left: -8vw; 
	}
	
	ul li {
		list-style-type: none; 
		display: inline-block; 
		font-size: 1.2em; 
		font-family: sans-serif; 
		width: 10vw; 
		text-align: center; 
		margin: 2vh 3vw 0 3vw; 
		transition: color 0.5s; 
	}
	.types {
		margin-left: 7vw; 
	}
	
	.img1 {
		grid-row: 1/span 2; 
		grid-column: 1/span 4; 
	}
	.img1 img {
		width: 100%; 
	}

	.line {
		grid-row: 1; 
		grid-column: 2/span 2; 
		width: 100%; 
		margin-top: 9vh; 
		margin-left: 0vw; 
		border-top: #E3C4B0 0.1rem solid; 
		z-index: 2; 
	}
	
	.gradi {
		grid-row: 1/span 2; 
		grid-column: 1/span 4; 
		width: 100%; 
		height: 64.5vw; 
		background: #694221; 
		opacity: 0.3; 
		z-index: 1; 
	}

	.col1 {
		display: none; 
	}
	
	h1 {
		grid-row: 1/span 2; 
		grid-column: 2/span 2; 
		width: 25%; 
		margin-top: 15vw; 
		margin-left: 8vw; 
		text-align: left; 
		align-self: center; 
		font-family: sans-serif; 
		font-size: 2.8em; 
		line-height: 1.3em; 
		color: white;
		z-index: 2; 
	}
	
	.p1 {
		grid-row: 3/span 3; 
		grid-column: 2/span 2; 
		font-size: 1em; 
		line-height: 1.2em; 
		margin-top: 0; 
		color: #404040; 
		z-index: 4; 
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 400; 
		align-self: baseline; 
	}
	
	.img2 {
	grid-row: 6/span 1; 
	grid-column: 2/span 2; 
	margin-top: 0vh; 
	z-index: 4;
}
	.img2 img {
		width: 100%; 
		z-index: 4;
	}

	.p3 {
		grid-row: 6/span 1; 
		grid-column: 2/span 1; 
		width: 100%; 
		align-self: center; 
		font-size: 1.2em; 
		line-height: 1.2em; 
		color: #FF825C; 
		font-family: 'Barlow', sans-serif;
		font-weight: 600; 
		animation: float 4s ease-in-out infinite; 
		z-index: 4;
	}
	.p4 {
		grid-row: 6/span 2; 
		grid-column: 3/span 1; 
		align-self: center; 
		font-size: 1.2em; 
		line-height: 1.2em; 
		color: #FF825C; 
		z-index: 2; 
		font-family: 'Barlow', sans-serif;
		font-weight: 600; 
		animation: float 4s ease-in-out infinite; 
		animation-delay: 2.5s; 
		z-index: 4;
	}

	@keyframes float {
		0% {transform: translatey(-2vh);}
		50% {transform: translatey(2vh);}
		100% {transform: translatey(-2vh);}
	}

	.p5 {
		grid-row: 8/span 1; 
		grid-column: 2/span 2; 
		font-size: 1em; 
		line-height: 1.4em; 
		color: #9D6F43; 
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 400; 
		margin-top: 0vh; 
		z-index: 4;
	}

	.line2 {
		grid-row: 9; 
		grid-column: 2/span 2; 
		width: 100%; 
		margin-top: 16vh; 
		border-top: #E3C4B0 0.1rem solid; 
		z-index: 4;
	}

	.h2 {
		grid-row: 10; 
		grid-column: 2/span 1; 
		font-size: 2em; 
		color: #FF825C; 
		font-family: sans-serif; 
		font-weight: 500; 
		margin-top: 0; 
		text-align: left; 
		z-index: 4;
	}

	.p6 {
		grid-row: 13; 
		grid-column: 3/span 1; 
		font-size: 1em; 
		line-height: 1.2em; 
		color: #BE8D55; 
		font-family: 'Source Sans Pro', sans-serif; 
		font-weight: 300;
		margin-top: 5vh; 
		z-index: 4;
	}

	.img3 {
		grid-row: 10/span 3;
		grid-column: 2/span 2; 
		margin-top: 10vh; 
		z-index: 4;
	}
	.img3 img {
		width: 100%; 
		margin-left: 0; 
	}
	
}


